extends layout
block content
	.container
		.row(style="margin-right : 0")
			.box
				.col-lg-12
					h3(style="text-align: center;") Inscrivez-vous en quelques secondes !
					form.col-lg-4.col-lg-offset-4(method='post', name='subscriptionForm')
						.form-group
							label E-mail
							input.form-control(type='email', placeholder='Email', name='email', id='email', required="required")
						.form-group
							label Pseudo
							input.form-control(type='text', placeholder='Login', name='login', id='login', required="required")
						.form-group
							label Password
							input.form-control(type='password', placeholder='Password', name='password', id='password', required="required")
						.form-group
							label Genre
							select.form-control(name='gender', id='gender', required="required")
								option Homme
								option Femme
						.form-group
							label Prénom
							input.form-control(type='text', placeholder='Prénom', name='firstname', id='firstname', required="required") 
						.form-group
							label Nom
							input.form-control(type='text', placeholder='Nom', name='lastname', id='lastname', required="required") 
						.form-group
							label Date de naissance
							input.form-control(type='date', name='birth', id='birth', required="required" placeholder="DD/MM/AAAA") 
						.form-group
							label Téléphone
							input.form-control(type='phone', placeholder='Téléphone', name='phone', id='phone', required="required")
						if field
							p Veuillez remplir tout les champs

						input.btn.btn-default(type='submit', value='Inscription' style="margin-bottom : 25px")
